<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Accounts_Last_Sync_Date</key>
	<date>2014-02-04T07:31:27Z</date>
	<key>Survey_Last_Sync_Date</key>
	<date>2014-02-04T07:31:27Z</date>
	<key>Surveys_Names_Last_Sync_Date</key>
	<date>2014-02-04T07:26:03Z</date>
	<key>Synced_Survey_Id</key>
	<string>-1</string>
</dict>
</plist>
